{
  "env": {
    "browser": true
  },
  "plugins": ["@emotion/eslint-plugin"],
  "extends": ["airbnb", "prettier"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0,
    "import/prefer-default-export": 0,
    "react/jsx-one-expression-per-line": 0,
    "consistent-return": 0,
    "valid-typeof": 0,
    "react/function-component-definition": 0
  }
}
